/* Common */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
body
{
	width:100vw;
	height:100vh;
	border:0;
	padding:0;
	margin:0;
	background:#000000;
	overflow: hidden;
	-webkit-text-size-adjust: 100%;
}
/* WebGL Canvas */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#gl_canvas
{
	overflow: hidden;
}

/* Editor */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
input:focus, textarea:focus, textarea:hover
{
	outline: none !important;
	border:0px solid #000;
}

textarea
{
	border:0px solid #000;
	font-size: 16px;
	transform: scale(0.5);
}

#main
{
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display:block;
}

#code
{
	float: left;
	/* overflow: hidden; */
	position: absolute;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: table;
	border: 0px solid #FFF;
	z-index: 80;
	text-align: left;
	background-color: #00000055;
}

#editor
{
	/* overflow: hidden; */
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Custom Codemirror Style */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.error {font-family: Arial, monospace; font-size: 96%; background: red; color: #FFFFFF; margin-left:5px; padding: 2px 5px 3px; }
/* .error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%; padding: 0 3px; margin-right: 7px;} */

.CodeMirror {
    background-color:#00000033;
    /* text-shadow: rgba( 0, 0, 0, 0.5 ) 0px 1px 4px; */
    font-family: Arial, monospace;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: bold;
  }

  .CodeMirror-scroll {
    overflow: auto;
    height: 100%;
    /* This is needed to prevent an IE[67] bug where the scrolled content
       is visible outside of the scrolling box. */
    position: relative;
  }
  
  .CodeMirror-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .4em .4em .4em;
    white-space: pre !important;
  }
  .CodeMirror-lines {
    padding: .4em;
  }
  
  .CodeMirror pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border-width: 0; margin: 0; padding: 0; background: transparent;
    font-family: inherit;
    font-size: inherit;
    padding: 0; margin: 0;
    white-space: pre;
    word-wrap: normal;
  }
  
  .CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .CodeMirror-wrap .CodeMirror-scroll {
    overflow-x: hidden;
  }
  
  .CodeMirror textarea {
    font-family: inherit !important;
    font-size: inherit !important;
  }
  
  .CodeMirror-cursor {
    z-index: 10;
    position: absolute;
    visibility: hidden;
    border-left: 2px solid white !important;
  }
  .CodeMirror-focused .CodeMirror-cursor {
    visibility: visible;
  }
  
  span.CodeMirror-selected {
    background: #ccc !important;
    color: HighlightText !important;
  }
  .CodeMirror-focused span.CodeMirror-selected {
    background: Highlight !important;
  }
  
  .CodeMirror-matchingbracket {color: #0f0 !important;}
  .CodeMirror-nonmatchingbracket {color: #f22 !important;}
  
  .CodeMirror pre.errorMarker {
    color: #f00;
    font-weight: bold;
    background: rgba(200, 100, 0, 0.5);
    border-radius: 3px;
  }
  .CodeMirror:hover pre.errorLine {
    background: rgba(200, 50, 0, 0.2);
  }
  input[type=text] {
    font-size: 16px;
    transform: scale(0.5);
  }

  .CodeMirror-dialog input[type=text] {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
    margin-top: -2px;
    background: #1a1a1a;
    transform: scale(1.0);
  }

  .CodeMirror-dialog {
    position: absolute;
    height:35px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    left: 0; right: 0;
    background: #1a1a1a;
    z-index: 290;
    padding: 0em 1.0em;
    /* overflow: hidden; */
    color: #888888;
  }
  
  .CodeMirror-dialog-top {
    /* border-bottom: 1px solid #eee; */
    top: 0;
  }
  
  .CodeMirror-dialog-bottom {
    /* border-top: 1px solid #eee; */
    bottom: 0;
  }
  
  .CodeMirror-dialog input {
    border: none;
    outline: none;
    background: transparent;
    width: 20em;
    color: #d8d4c5;
    background: #1E1E1E;
    font-family: monospace;
  }
  
  .CodeMirror-dialog button {
    font-size: 16px;
  }
  
  .CodeMirror-search-match {
    background: #FFFFFFFF;
    border-top: 1px solid #1E1E1E;
    border-bottom: 1px solid #1E1E1E;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 190;
    /* opacity: .5; */
  }
  