.CodeMirror-hints {
    position: absolute;
    z-index: 100;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    border-radius: 0px;
    border: 0px solid #1F1F1F;
    color: #d8d4c5;
    background: #1F1F1F;
    font-size: 130%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 0px;
    white-space: pre;
    color: #d8d4c5;
    border: 0px solid black;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    border: 0px solid #d8d4c5;
    background: #d8d4c5;
    font-weight: bold;
    color: black;
}