/*

    Name:       3024 day
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-3024-day.CodeMirror {
    background: #d8d4c500;
    color: #796e6a;
    letter-spacing: 0px;
    line-height: 1.2;
}

.cm-s-3024-day div.CodeMirror-selected {
    background: #d6d5d4;
}

.cm-s-3024-day .CodeMirror-line,
.cm-s-3024-day .CodeMirror-line>span,
.cm-s-3024-day .CodeMirror-line>span>span {
    margin: 0px;
    padding: 0px;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}

.cm-s-3024-day .CodeMirror-line::selection,
.cm-s-3024-day .CodeMirror-line>span::selection,
.cm-s-3024-day .CodeMirror-line>span>span::selection {
    background: #d6d5d4;
}

.cm-s-3024-day .CodeMirror-line::-moz-selection,
.cm-s-3024-day .CodeMirror-line>span::-moz-selection,
.cm-s-3024-day .CodeMirror-line>span>span::selection {
    background: #d9d9d9;
}

.cm-s-3024-day .CodeMirror-gutters {
    background: #d8d4c5;
    border-right: 0px;
    margin-left: 0px;
    margin-right: 0px
}

.cm-s-3024-day .CodeMirror-guttermarker {
    color: #db2d20;
}

.cm-s-3024-day .CodeMirror-guttermarker-subtle {
    color: #807d7c;
}

.cm-s-3024-day .CodeMirror-linenumber {
    display: block;
    margin-top: 0.45em;
    font-size: 0.6em;
    color: #807d7c;
}

.cm-s-3024-day .CodeMirror-line::after {
    content: " ";
    background-color: #d8d4c5;
    border-radius: 0px 10px 10px 0px;
}

.cm-s-3024-day .CodeMirror-cursor {
    border-left: 1px solid #5c5855;
}

.cm-s-3024-day .CodeMirror-activeline-background {
    background: #FFFFFF22 !important;
}

.cm-s-3024-day .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
}

.cm-s-3024-day span {
    background: #d8d4c5;
    /* padding: 2px 0px 2px 2px; */
    /* border-radius: 0px 15px 15px 0px; */
}

.cm-s-3024-day span.cm-comment {
    color: #cdab53;
}

.cm-s-3024-day span.cm-atom {
    color: #a16a94;
}

.cm-s-3024-day span.cm-number {
    color: #804372;
}

.cm-s-3024-day span.cm-property,
.cm-s-3024-day span.cm-attribute {
    color: #01a252;
}

.cm-s-3024-day span.cm-keyword {
    color: #db2d20;
}

.cm-s-3024-day span.cm-string {
    color: #fded02;
}

.cm-s-3024-day span.cm-variable {
    color: #148d31;
}

.cm-s-3024-day span.cm-variable-2 {
    color: #01a0e4;
}

.cm-s-3024-day span.cm-builtin {
    color: #2937d2;
}

.cm-s-3024-day span.cm-operator {
    color: #356c84;
}

.cm-s-3024-day span.cm-type {
    color: #78697d;
}

.cm-s-3024-day span.cm-def {
    color: #e8bbd0;
}

.cm-s-3024-day span.cm-bracket {
    color: #433733;
}

.cm-s-3024-day span.cm-tag {
    color: #db2d20;
}

.cm-s-3024-day span.cm-link {
    color: #a16a94;
}

.cm-s-3024-day span.cm-error {
    background: #db2d20;
    color: #5c5855;
}

.cm-s-3024-day .CodeMirror-activeline-background {
    background: #e8f2ff;
}

.cm-s-3024-day .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #a16a94 !important;
}