/*

    Name:       3024 monotone
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-3024-monotone.CodeMirror {
    background: #00000000;
    color: #848484;
    letter-spacing: 0px;
    line-height: .5;
}

/* .cm-s-3024-monotone div.CodeMirror-selected {
    background: #D4BE94FF;
} */

.cm-s-3024-monotone .CodeMirror-line,
.cm-s-3024-monotone .CodeMirror-line>span,
.cm-s-3024-monotone .CodeMirror-line>span>span {
    margin: 0px;
    padding: 0px;
    font-feature-settings: "palt";
    /**/
    /* font-family: 'Cutive Mono', monospace;
    line-height: 1.1;
    letter-spacing: -0.08em; */
    /**/
    /* font-family: 'PT Mono', monospace;
    letter-spacing: 0.09em; */
    /**/
    /* font-family: 'Space Mono', monospace;
    line-height: 1.4;
    letter-spacing: -0.03em; */
    /**/
    /* font-family: 'IBM Plex Mono', monospace;
    line-height: 1.4;
    letter-spacing: 0.0em; */
    /**/
    /* font-family: 'Ubuntu Mono', monospace;
    line-height: 1.1;
    letter-spacing: 0.0em; */
    /**/
    font-family: 'Overpass Mono', monospace;
    line-height: 1;
    letter-spacing: 0.0em;

    /**/
    /* font-family: 'Nova Mono', monospace;
    line-height: 1.1;
    letter-spacing: 0.0em; */
}



.cm-s-3024-monotone .CodeMirror-line::selection,
.cm-s-3024-monotone .CodeMirror-line>span::selection,
.cm-s-3024-monotone .CodeMirror-line>span>span::selection {
    background: #D4BE94FF;
}

.cm-s-3024-monotone .CodeMirror-line::-moz-selection,
.cm-s-3024-monotone .CodeMirror-line>span::-moz-selection,
.cm-s-3024-monotone .CodeMirror-line>span>span::-moz-selection {
    background: #D4BE94FF;
}

.cm-s-3024-monotone .CodeMirror-gutters {
    background: #262525;
    border-right: 0px solid #D4BE94;
    margin-left: 0px;
}

.cm-s-3024-monotone .CodeMirror-guttermarker {
    color: #db2d20;
}

.cm-s-3024-monotone .CodeMirror-selectedtext {
    background: #555555;
}

.cm-s-3024-monotone .CodeMirror-guttermarker-subtle {
    color: transparent;
}

.cm-s-3024-monotone .CodeMirror-linenumber {
    font-family: "Muli", sans-serif;
    font-size: 0.7em;
    margin-top: 0.45em;
    color: #555555;
}

.CodeMirror-gutter-elt {
    font-family: "Muli", sans-serif;
    position: absolute;
    cursor: default;
    z-index: 4;
}

.cm-s-3024-monotone .CodeMirror-line::after {
    content: " ";
    background-color: #262525;
    border-radius: 0px 10px 10px 0px;
}

.cm-s-3024-monotone .CodeMirror-code.concentrating>div>pre::after {
    content: " ";
    background-color: transparent;
    border-radius: 0px 10px 10px 0px;
}


.cm-s-3024-monotone .CodeMirror-cursor {
    border-right: 2px;
    border-left: 2px solid #D4BE94;
}

.cm-s-3024-monotone .CodeMirror-activeline-background {
    background: #D4BE9422 !important;
}

.cm-s-3024-monotone .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: #D4BE94 !important;
}

.cm-s-3024-monotone span {
    background: #262525;
}

.color.cm-s-3024-monotone span {
    background: #262525;
}

.cm-s-3024-monotone span.cm-comment,
.cm-s-3024-monotone span.cm-atom,
.cm-s-3024-monotone span.cm-number,
.cm-s-3024-monotone span.cm-property,
.cm-s-3024-monotone span.cm-attribute,
.cm-s-3024-monotone span.cm-keyword,
.cm-s-3024-monotone span.cm-string,
.cm-s-3024-monotone span.cm-operator,
.cm-s-3024-monotone span.cm-type,
.cm-s-3024-monotone span.cm-variable,
.cm-s-3024-monotone span.cm-variable-2,
.cm-s-3024-monotone span.cm-def,
.cm-s-3024-monotone span.cm-bracket,
.cm-s-3024-monotone span.cm-tag,
.cm-s-3024-monotone span.cm-tab,
.cm-s-3024-monotone span.cm-meta,
.cm-s-3024-monotone span.cm-link,
.cm-s-3024-monotone span.cm-builtin {
    background: #26252500;
}


.cm-s-3024-monotone span.cm-keyword {
    color: #D4BE94;
}

.cm-s-3024-monotone span.cm-type {
    color: #D4BE94a6;
}

.cm-s-3024-monotone span.cm-builtin {
    color: #D4BE94;
}

.cm-s-3024-monotone span.cm-variable {
    color: #D4BE94;
}

.cm-s-3024-monotone span.cm-number {
    color: #D4BE94;
}

.cm-s-3024-monotone span.cm-operator {
    color: #D4BE9483;
}


.color.cm-s-3024-monotone span.cm-keyword {
    color: #e1c169;
}

.color.cm-s-3024-monotone span.cm-type {
    color: #5acb65;
}

.color.cm-s-3024-monotone span.cm-builtin {
    color: #609cdf;
}

.color.cm-s-3024-monotone span.cm-variable {
    color: #D4BE94;
}

.color.cm-s-3024-monotone span.cm-number {
    color: #ac65c7;
}

.color.cm-s-3024-monotone span.cm-operator {
    color: #FE8565;

}

.cm-s-3024-monotone span.cm-comment {
    color: #7F776AAA;
}


/* .cm-s-3024-monotone span.cm-link {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-error {
    background: #db2d20;
    color: #807d7c;
} */

/* .cm-s-3024-monotone span.cm-atom {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-property {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-attribute {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-string {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-variable-2 {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-def {
    color: #D4BE94;
} */

/* .cm-s-3024-monotone span.cm-bracket {
    color: #D4BE94a8;
} */

/* .cm-s-3024-monotone span.cm-tag {
    color: #D4BE94;
} */

.cm-s-3024-monotone span.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-comment.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-atom.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-number.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-property.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-attribute.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-keyword.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-string.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-operator.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-type.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-variable.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-variable-2.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-def.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-bracket.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-tag.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-link.CodeMirror-selectedtext,
.cm-s-3024-monotone span.cm-builtin.CodeMirror-selectedtext {
    background: #D4BE9455;
}

/* @media screen and (max-width: 1080px) {
    .cm-s-3024-monotone .CodeMirror-gutters {
        background: #262525DD;
    }

    .cm-s-3024-monotone .CodeMirror-line::after {
        background-color: #262525DD;
    }

    .cm-s-3024-monotone span {
        background: #262525DD;
    }

    .cm-s-3024-monotone .CodeMirror-linenumber {
        color: #D4BE94DD;
    }

    .cm-s-3024-monotone span.cm-bracket {
        color: #D4BE94DD;
    }

    .CodeMirror-foldgutter {
        opacity: 0.0;
    }

    .cm-s-3024-monotone span.CodeMirror-selectedtext {
        background: #D4BE9400;
    }

    .cm-s-3024-monotone span.CodeMirror-selectedtext {
        background-color: #D4BE94;
        border-radius: 0px 10px 10px 0px;
    }

    .cm-s-3024-monotone span.cm-comment.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-atom.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-number.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-property.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-attribute.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-keyword.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-string.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-operator.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-type.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-variable.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-variable-2.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-def.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-bracket.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-tag.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-link.CodeMirror-selectedtext,
    .cm-s-3024-monotone span.cm-builtin.CodeMirror-selectedtext {
        background: #D4BE9400;
    }
} */

.android .cm-s-3024-monotone .CodeMirror-line,
.android .cm-s-3024-monotone .CodeMirror-line>span,
.android .cm-s-3024-monotone .CodeMirror-line>span>span,
.android .cm-s-3024-monotone .CodeMirror-line::after,
.win .cm-s-3024-monotone .CodeMirror-line,
.win .cm-s-3024-monotone .CodeMirror-line>span,
.win .cm-s-3024-monotone .CodeMirror-line>span>span,
.win .cm-s-3024-monotone .CodeMirror-line::after {
    line-height: 1.255;
    padding-top: 0em;
    padding-bottom: 0em;
}