body {
    font-family: Muli, Arial, Helvetica, sans-serif;
    color: #d8d4c5;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #1A1A1A;
    background-size: cover;
    -webkit-text-size-adjust: 100%;
    display: block;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gui-panel-knob {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    width: calc(53px*3);
    height: calc(53px*8);
    background-color: #1F1F1F;
    /* position: absolute;
    bottom: 0px;
    right: 0%; */
    opacity: 1;
    border-radius: 0px;
    box-shadow: 0px 5px 18px 1px #00000055;
}

.gui_knob {
    text-align: center;
    padding: 0px;
    margin: 0.5px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    background-color: #1F1F1F;
    border: #1F1F1F 1px solid;
    transition: background-color 400ms ease-in-out;
}

.gui_knob:hover {
    background-color: #252525;
}

.gui_knob .name {
    font-size: 0.7rem;
    margin: 0px;
    margin-top: 4px;
}

.gui_knob.comp.active>div+div+div {
    opacity: 0.5;
}

.gui_knob.comp.active:hover>div+div+div {
    opacity: 1.0;
    transition: opacity 400ms ease-in-out;
}

.gui_knob.comp.active>div {
    opacity: 1.0;
}

svg {
    width: 100%;
    height: 100%;
}

.knob {
    transform: rotate(0);
    width: 14px;
    height: 14px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 17px;
    background-color: #00000000;
    cursor: none;
}

.gui_knob .value {
    font-size: 0.6rem;
    color: #d8d4c5;
    margin: 0px;
    margin-top: 0px;
    cursor: none;
}