@import 'gui_panel_base';

// main
///////////////////////////////////////////////////
$btn_basesize_pc:calc((100vw - 0px)/4);
$btn_basesize_sp:calc((100vw - 0px)/4);
%btn__base {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    // transition: all 1.5s ease-out;
    border-radius: 0px 0px 0px 0px;
    // height: 100%;
    // width: $btn_basesize_pc;
    @include mq {
        font-size: 0.6rem;

    }
}

.btn {
    // transform-origin: center top;
    width: $btn_basesize_pc;
    height: calc(($btn_basesize_pc) * 0.56 + 45px);
    letter-spacing: 0.025rem;
    @include mq {
        width: $btn_basesize_sp;
        height: calc($btn_basesize_sp * 0.56 + 35px);
    }

    margin: 0px;
    overflow: hidden;
    border-radius: 0px 0px;
    background: #0000FF01;

    font-family: 'Muli',
    sans-serif;
    font-weight: 700;


    &-thumb {
        position: absolute;
        align-items: center;
        display: flex;
        justify-content: center;
        width: $btn_basesize_pc;
        height: calc(($btn_basesize_pc) * 0.56);

        @include mq {
            width: $btn_basesize_sp;
            height: calc(($btn_basesize_sp) * 0.56);
        }

        background: #00FF0001;
        background-size: 100% 100%;
        background-position: center;
        transform: scale(1);
        transition: all $anm-middle;
        z-index: 2;
    }

    &-detector {
        @extend %btn__base;
        width: $btn_basesize_pc;
        height: calc(($btn_basesize_pc) * 0.56 + 45px);

        @include mq {
            width: $btn_basesize_sp;
            height: calc(($btn_basesize_sp) * 0.56 + 35px);
        }

        background: #FF000001;
        z-index: 3;
    }

    &__base {
        @extend %btn__base;
        width: $btn_basesize_pc;
        height: $gui-size-unit;
        background: $col-bg;
        color: $col-frnt;
        overflow: hidden;
        margin-top: calc(($btn_basesize_pc) * 0.56);

        @include mq {
            width: $btn_basesize_sp;
            height: $gui-size-unit-sp;
            margin-top: calc(($btn_basesize_sp) * 0.56);
        }

        z-index: 1;
        transition: all $anm-short;

        span {
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
            top: -.5rem;
            left: 0;
            right: auto;
            height: 100%;
            width: $btn_basesize_pc;
            @include mq {
                width: $btn_basesize_sp;
            }
        }
    }

    &__hover {
        @extend %btn__base;
        width: $btn_basesize_pc;
        height: $gui-size-unit;
        background: $col-frnt;
        color: $col-bg;
        overflow: hidden;
        margin-top: calc(($btn_basesize_pc) * 0.56);

        @include mq {
            // width: $btn_basesize_sp;
            height: $gui-size-unit-sp;
            margin-top: calc(($btn_basesize_sp) * 0.56);
        }

        transition: all $anm-middle;
        z-index: 2;
        width: 0px;

        span {
            align-items: center;
            display: flex;
            justify-content: center;
            position: absolute;
            top: -.5rem;
            left: 0;
            right: auto;
            height: 100%;
            width: $btn_basesize_pc;

            @include mq {
                width: $btn_basesize_sp;
            }
        }
    }

    &.init {
        .btn__base {
            opacity: 0;
        }
    }

    &.hover {
        .btn-thumb {
            background-size: 115% 115%;
        }

        .btn__base {

            width: 0%;
            transition: all $anm-short;
        }

        .btn__hover {
            right: auto;
            left: 10;
            width: $btn_basesize_pc;

            @include mq {
                width: $btn_basesize_sp;
            }

            transition: all $anm-short;

            span {
                left: 0;
                right: auto;
            }

            &:active {
                color: $col-bg-bright;
                background: $col-frnt-bright;
            }
        }
    }

    &.active {
        .btn__base {
            transition: all $anm-middle;
            z-index: 2;
            width: 0%;

            span {
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                right: auto;
                height: 100%;
                width: $btn_basesize_pc;

                @include mq {
                    width: $btn_basesize_sp;
                }
            }
        }

        .btn__hover {
            transition: all $anm-short;
            z-index: 1;
            width: $btn_basesize_pc;

            @include mq {
                width: $btn_basesize_sp;
            }

            span {
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                left: 0;
                right: auto;
                height: 100%;
                width: 100%;
            }
        }

        &.hover {
            .btn__hover {
                width: 0%;
                transition: all $anm-short;
            }

            .btn__base {
                right: auto;
                left: 0;
                width: 100%;
                transition: all $anm-short;

                span {
                    left: 0;
                    right: auto;
                }

                &:active {
                    color: $col-bg-bright;
                    background: $col-frnt-bright;
                }
            }
        }
    }
}

.btn-thumb {
    position: relative;
}

.btn-name {
    font-weight: 500;
}

.btn-hide {
    // transform-origin: center top;
    animation: anm-btn-hide 0.4s both;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.btn-activate {
    z-index: 10;
    // transform-origin: center top;
    animation: anm-btn-activate 0.4s both;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

@keyframes anm-btn-activate {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(2vw, 0);
    }
}

@keyframes anm-btn-hide {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(-33.3vw, 0);
    }
}