@import '../base';

// main
///////////////////////////////////////////////////
.tl-root {
    position: absolute;
    z-index: $gui-z-index;
    bottom: 0px;
    padding: 0px 45px;
    align-items: center;
    display: flex;
    background: $col-bg;
    width: 100%;
    height: 45px;
    transition: all $anm-short;

    @include mq {
        display: none;
    }
}

.tl_hide {
    bottom: -$gui-size-unit;
}

#tl-base {
    width: 100%;
    height: 5px;
    z-index: 0;
    border-radius: 10px;
    background: $col-bg;
}

#tl-workspace {
    position: absolute;
    top: 20px;
    height: 5px;
    z-index: 1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 400;
    background: $col-bg-bright;
    font-size: 0.5rem;
    width: 45px;
    cursor: move;
    letter-spacing: 1px;
    line-height: 2;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

%num {
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;
    font-size: 0.5rem;
    color: $col-frnt;
    background: $col-bg;
    padding-left: 3px;
    border: 0px;
}

#tl-total-frames {
    position: absolute;
    @extend %num;
    padding-left: 2px;
    top: 25px;
    right: 0px;
    width: 45px;
    height: 20px;
    z-index: 1;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
        color: $col-frnt-bright;
        background: $col-bg-bright;
    }
}

#tl-offset-frames {
    @extend #tl-total-frames;
    padding-left: 3px;
    left: 0px;
}

%range-handle {
    position: absolute;
    top: 0px;
    z-index: 2;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

    &:hover {
        &>.tl-header {
            color: $col-frnt-bright;
            background: $col-bg-bright;
        }

        &>.tl-tip {
            background: $col-frnt;
        }
    }

    .tl-header {
        @extend %num;
        width: 45px;
        height: 20px;
        cursor: move;
        z-index: 3;
        background: #00000000;
        transition: all $anm-middle;

        &::selection {
            background: transparent;
        }

        &::-moz-selection {
            background: transparent;
        }
    }

    .tl-tip {
        position: absolute;
        top: 15px;
        width: 9px;
        height: 9px;
        border-radius: 10px;
        z-index: 4;
        background: $col-bg-bright; // -webkit-transform: skew(0deg, 45deg);
        // transform: skew(0deg, 45deg);
        transition: all $anm-middle;
    }
}

::selection {
    background: transparent;
}

::-moz-selection {
    background: transparent;
}

#tl-start {
    @extend %range-handle;

    .tl-tip {
        top: 18px;
        right: -5px; // -webkit-transform: skew(0deg, 45deg);
        // transform: skew(0deg, 45deg);
    }
}

#tl-end {
    @extend %range-handle;

    .tl-tip {
        top: 18px;
        left: -5px; // -webkit-transform: skew(0deg, -45deg);
        // transform: skew(0deg, -45deg);
    }
}

#tl-current {
    @extend %range-handle;
    top: 25px;

    .tl-tip {
        top: -7px;
        right: -5px;
        width: 9px;
        height: 9px;
        background: $col-frnt; // -webkit-transform: skew(0deg, 0deg);
        // transform: skew(0deg, 0deg);
    }
}