@import 'gui_panel_base';

// setting
///////////////////////////////////////////////////
#gui-sidebar-left {
    left: 0px;
    top: 0px;
    height: 100vh;
    overflow: hidden;
}

.gsbl-container {
    left: 0px;
    width: $gui-size-unit*4;
    flex: 0 0 $gui-size-unit*4;
    background: $col-bg;
    height: 100vh;
    margin: 0px;
    overflow: hidden;

    @include mq {
        background: transparent;
        width: $gui-size-unit-sp*4;
        flex: 0 0 $gui-size-unit-sp*4;
    }
}

#gsbl-base {
    display: flex;
    flex-wrap: wrap;
    width: $gui-size-unit*4;
    height: 100vh;
    background: $col-bg;
    overflow-x: hidden;
    overflow-y: scroll;

    @include mq {
        background: $col-bg-sp;
        width: $gui-size-unit-sp*4;
    }
}

.gsbl-container-appear {
    transform-origin: center top;
    animation: anm-gsbl-container-appear 0.2s both;
    animation-timing-function: ease-out;
    animation-delay: 0.0s;

    @include mq {
        animation: anm-gsbl-container-appear-sp 0.2s both;
    }
}

.gsbl-appear {
    transform-origin: center top;
    animation: anm-gsbl-appear 0.2s both;
    animation-timing-function: ease-out;
    animation-delay: 0.0s;
}

.gsbl-container-hide {
    transform-origin: center top;
    animation: anm-gsbl-container-hide 0.2s both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.0s;

    @include mq {
        animation: anm-gsbl-container-hide-sp 0.2s both;
    }
}

.gsbl-hide {
    transform-origin: center top;
    animation: anm-gsbl-hide 0.2s both;
    animation-timing-function: ease-out;
    animation-delay: 0.0s;
}

.gsbl-container-hidden {
    transform-origin: left top;
    flex: 0 0 0;
    width: 0%;
}

.gsbl-hidden {
    transform-origin: center top;
    transform: translate(2em, 0);
    opacity: 0;
}

@keyframes anm-gsbl-container-appear {
    0% {
        width: 0%;
        flex: 0 0 0;
    }

    100% {
        width: $gui-size-unit*4;
        flex: 0 0 $gui-size-unit*4;
    }
}

@keyframes anm-gsbl-container-hide {
    0% {
        width: $gui-size-unit*4;
        flex: 0 0 $gui-size-unit*4;
    }

    100% {
        width: 0%;
        flex: 0 0 0;
    }
}

@keyframes anm-gsbl-container-appear-sp {
    0% {
        width: 0%;
        flex: 0 0 0;
    }

    100% {
        width: $gui-size-unit-sp*4;
        flex: 0 0 $gui-size-unit-sp*4;
    }
}

@keyframes anm-gsbl-container-hide-sp {
    0% {
        width: $gui-size-unit-sp*4;
        flex: 0 0 $gui-size-unit-sp*4;
    }

    100% {
        width: 0%;
        flex: 0 0 0;
    }
}

@keyframes anm-gsbl-appear {
    0% {
        transform: translate(2em, 0);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes anm-gsbl-hide {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}

// Hide native dropdown
select {
    display: none;
}

// Styles
.label-ichannel {
    display: block;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.1em;
    margin: 10px 2px;
    color: $col-frnt;
}

#ichannels {
    width: $gui-size-unit*3;
    height: (($gui-size-unit*3.5)*(9/16)+$gui-size-unit)*4+112.5px;
    background: $col-bg;
    margin: $gui-size-unit*0.5;

    margin-top: 0px;
    padding-top: $gui-size-unit*2;

    @include mq {
        background: transparent;
        margin: $gui-size-unit-sp*0.5;
        width: $gui-size-unit-sp*3;
        height: (($gui-size-unit-sp*3.5)*(9/16)+$gui-size-unit-sp)*4+112.5px;
        padding-top: 0px;
    }
}

.ichannel {
    width: $gui-size-unit*3;
    height: ($gui-size-unit*3)*(9/16)+$gui-size-unit*2;
    margin: $gui-size-unit*0.5;
    margin-top: 0px;

    @include mq {
        width: $gui-size-unit-sp*3;
        height: ($gui-size-unit-sp*3)*(9/16)+$gui-size-unit-sp*2;
        margin: $gui-size-unit-sp*0.5;
    }

    &.disabled>.asset-panel,
    &.disabled>.dropdown {
        display: none;
    }

    &.null>.dropdown {
        color: $col-bg-bright;
        background: $col-bg;
        cursor: default;

        @include mq {
            color: $col-frnt-dark-sp;
            background-color: transparent;
        }

        &:focus {
            background: $col-bg;
        }

        &:hover {
            background: $col-bg;
        }

        &:active {
            background: $col-bg;
        }
    }

    &.null>.dropdown:after {
        border-top: 4px solid $col-bg-bright;

        @include mq {
            border-top: 4px solid $col-frnt-dark-sp;
        }
    }
}

.asset-panel {
    width: $gui-size-unit*3;
    height: ($gui-size-unit*3)*(9/16);

    @include mq {
        width: $gui-size-unit-sp*3;
        height: ($gui-size-unit-sp*3)*(9/16);
    }

    background: $col-bg-bright;
    margin: 0.5px;
    margin-top: 0px;

    // transition: all 0.2s ease-in-out;
    &.buf-a {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M4.8%2C32.8v-2.4h40V4.8h2.4v28H4.8z%20M0%2C0h42.4v28H0V0z%20M19.4%2C17.79l0.82-2.11h3.49l0.84%2C2.11h1.7l-3.5-8.65%20h-1.53l-3.47%2C8.65H19.4z%20M23.1%2C14.27h-2.32c0.52-1.5%2C0.91-2.62%2C1.17-3.37C22.26%2C11.8%2C22.65%2C12.92%2C23.1%2C14.27z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: center center;

        @include mq {
            background-size: 38%;
        }
    }

    &.buf-b {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M23.9%2C14.23c-0.27-0.19-0.76-0.29-1.45-0.29h-1.32v2.55h1.36c1.22%2C0%2C1.82-0.41%2C1.82-1.22%20C24.3%2C14.77%2C24.17%2C14.42%2C23.9%2C14.23z%20M42.4%2C0H0v28h42.4V0z%20M25.73%2C16.27c-0.13%2C0.29-0.32%2C0.55-0.58%2C0.77%20c-0.25%2C0.23-0.59%2C0.41-1%2C0.54c-0.41%2C0.13-0.88%2C0.2-1.4%2C0.2H19.6V9.14h2.39c0.25%2C0%2C0.47%2C0.01%2C0.67%2C0.01c0.2%2C0.01%2C0.42%2C0.03%2C0.68%2C0.07%20c0.26%2C0.03%2C0.48%2C0.08%2C0.67%2C0.14c0.19%2C0.06%2C0.39%2C0.15%2C0.59%2C0.26c0.2%2C0.11%2C0.36%2C0.24%2C0.49%2C0.39c0.13%2C0.15%2C0.23%2C0.34%2C0.31%2C0.57%20c0.08%2C0.23%2C0.12%2C0.48%2C0.12%2C0.77c0%2C0.85-0.38%2C1.47-1.15%2C1.85c0.51%2C0.14%2C0.9%2C0.4%2C1.16%2C0.78c0.26%2C0.38%2C0.39%2C0.84%2C0.39%2C1.36%20C25.93%2C15.67%2C25.86%2C15.98%2C25.73%2C16.27z%20M44.8%2C4.8v25.6h-40v2.4h42.4v-28H44.8z%20M22.95%2C12.67c0.17-0.04%2C0.33-0.1%2C0.48-0.19%20c0.15-0.09%2C0.27-0.21%2C0.36-0.37c0.09-0.16%2C0.13-0.35%2C0.13-0.57c0-0.43-0.15-0.72-0.45-0.88c-0.3-0.16-0.76-0.23-1.4-0.23H21.1v2.29%20h1.29C22.59%2C12.73%2C22.78%2C12.71%2C22.95%2C12.67z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: center center;

        @include mq {
            background-size: 38%;
        }
    }

    &.buf-c {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M42.4%2C0H0v28h42.4V0z%20M22.62%2C17.91c-0.57%2C0-1.11-0.1-1.63-0.29c-0.51-0.2-0.97-0.48-1.38-0.84%20c-0.4-0.36-0.73-0.83-0.96-1.4c-0.24-0.57-0.36-1.21-0.36-1.91c0-0.59%2C0.08-1.13%2C0.24-1.62c0.16-0.5%2C0.38-0.92%2C0.65-1.26%20c0.27-0.35%2C0.59-0.64%2C0.95-0.89c0.36-0.25%2C0.74-0.43%2C1.14-0.54c0.4-0.11%2C0.81-0.17%2C1.23-0.17c1.13%2C0%2C2.09%2C0.31%2C2.89%2C0.93l-0.59%2C1.05%20c-0.66-0.46-1.38-0.68-2.17-0.68c-0.37%2C0-0.72%2C0.07-1.05%2C0.22c-0.33%2C0.15-0.62%2C0.35-0.88%2C0.62c-0.25%2C0.27-0.46%2C0.6-0.61%2C1%20c-0.15%2C0.4-0.23%2C0.85-0.23%2C1.33c0%2C0.95%2C0.27%2C1.72%2C0.81%2C2.3c0.54%2C0.58%2C1.22%2C0.87%2C2.04%2C0.87c0.87%2C0%2C1.66-0.29%2C2.39-0.87l0.5%2C1.19%20C24.78%2C17.58%2C23.78%2C17.91%2C22.62%2C17.91z%20M44.8%2C4.8v25.6h-40v2.4h42.4v-28H44.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: center center;

        @include mq {
            background-size: 38%;
        }
    }

    &.buf-d {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M42.4%2C0H0v28h42.4V0z%20M25.27%2C16.67c-0.84%2C0.74-2.06%2C1.12-3.66%2C1.12h-2.65V9.14h2.41c1.73%2C0%2C3.02%2C0.37%2C3.88%2C1.1%20c0.86%2C0.73%2C1.28%2C1.79%2C1.28%2C3.17C26.52%2C14.84%2C26.1%2C15.92%2C25.27%2C16.67z%20M21.5%2C10.43h-1.04v6.06h1.22c1.05%2C0%2C1.85-0.26%2C2.4-0.78%20c0.56-0.52%2C0.84-1.29%2C0.84-2.3c0-0.96-0.28-1.7-0.85-2.21C23.51%2C10.69%2C22.65%2C10.43%2C21.5%2C10.43z%20M44.8%2C4.8v25.6h-40v2.4h42.4v-28%20H44.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: center center;

        @include mq {
            background-size: 38%;
        }
    }

    &.buf-null {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%232A2A2A%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M44.8%2C4.8v25.6h-40v2.4h42.4v-28H44.8z%20M42.4%2C0H0v28h42.4V0z%20M26.3%2C15.22h-7.03v-1.63h7.03V15.22z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: center center;

        @include mq {
            background-size: 38%;
        }

        background-color: $col-bg;

        @include mq {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2247.2px%22%20height%3D%2232.8px%22%20viewBox%3D%220%200%2047.2%2032.8%22%20style%3D%22enable-background%3Anew%200%200%2047.2%2032.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bopacity%3A0.2%3Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M44.8%2C4.8v25.6h-40v2.4h42.4v-28H44.8z%20M42.4%2C0H0v28h42.4V0z%20M26.3%2C15.22h-7.03v-1.63h7.03V15.22z%22%2F%3E%3C%2Fsvg%3E');
            background-color: transparent;
        }
    }

    &:focus {
        background-color: darken($col-bg-bright, 2%);

    }

    &:hover {
        cursor: pointer;
        background-color: darken($col-bg-bright, 2%);

    }

    &.buf-null:hover {
        cursor: pointer;
        background-color: darken($col-bg-bright, 2%);
    }

    &.buf-null:hover+.ichannels-drpdwn.dropdown {
        cursor: pointer;
        background-color: darken($col-bg-bright, 2%);
    }

    &:active {
        background-color: darken($col-bg-bright, 2%);
        animation: anm-change-buf 0.4s both;
        animation-timing-function: ease-in-out;
        animation-delay: 0.0s;
    }


}

@keyframes anm-change-buf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ichannels-drpdwn.dropdown {
    background: $col-bg-bright;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    color: $col-frnt;
    font-size: 11px;
    font-weight: 400;
    height: $gui-size-unit;
    line-height: $gui-size-unit - 1;
    letter-spacing: 0.1em;
    outline: none;
    padding-left: 10px;
    padding-right: $gui-size-unit/1.5;
    position: relative;
    text-align: left !important;
    transition: all $anm-short;
    user-select: none;
    white-space: nowrap;
    width: $gui-size-unit*3;
    margin: 0.5px;

    @include mq {
        height: $gui-size-unit-sp;
        line-height: $gui-size-unit-sp - 1;
        padding-right: $gui-size-unit-sp/1.5;
        width: $gui-size-unit-sp*3;
    }

    &:focus {
        background: $col-bg-bright-darken;
    }

    &:hover {
        background: $col-bg-bright-darken;
    }

    &:active {
        background: $col-bg-bright-darken;
    }

    // Arrow
    &:after {
        height: 0;
        width: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $col-frnt;
        transform: origin(50% 20%);
        transition: all $anm-short;
        content: '';
        display: block;
        margin-top: -2px;
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: 50%;
    }

    &.open {
        @extend :active;

        &:after {
            transform: rotate(-180deg);
        }

        .list {
            transform: scale(1);
            opacity: 1;
            pointer-events: auto;
        }

        .option {
            cursor: pointer;
        }
    }

    &.wide {
        width: 100%;

        .list {
            left: 0 !important;
            right: 0 !important;
        }
    }

    .list {
        box-sizing: border-box;
        transition: all $anm-short;
        transform: scale(.75);
        transform-origin: 50% 0;
        background: $col-bg-bright;
        margin-top: 0px;
        padding: 0px;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        &:hover .option:not(:hover) {
            color: $col-frnt;
            background: transparent !important;
        }
    }

    .option {
        width: $gui-size-unit*3;
        cursor: default;
        font-weight: 400;
        line-height: $gui-size-unit - 2;
        outline: none;
        padding-left: 8px;
        padding-right: 29px;
        text-align: left;
        transition: all $anm-short;

        @include mq {
            width: $gui-size-unit-sp*3;
            line-height: $gui-size-unit-sp - 2;
        }

        &:hover,
        &:focus {
            color: $col-frnt;
            background: $col-bg-bright-darken;
        }

        &.selected {
            color: $col-frnt;
            font-weight: 700;
            background: $col-bg-bright-darken;
        }

        &:hover,
        &.selected:focus {
            color: $col-frnt;
            background: $col-bg-bright-darken;
        }
    }
}