/*

    Name:       3024 night
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-3024-night.CodeMirror { background: #00000000; color: #848484; letter-spacing: 0px; line-height: 1.2; font-family: 'Cutive Mono', monospace; }
.cm-s-3024-night div.CodeMirror-selected { background: #FFFFFFFF; }
.cm-s-3024-night .CodeMirror-line::selection, .cm-s-3024-night .CodeMirror-line > span::selection, .cm-s-3024-night .CodeMirror-line > span > span::selection { background: #FFFFFFFF; }
.cm-s-3024-night .CodeMirror-line::-moz-selection, .cm-s-3024-night .CodeMirror-line > span::-moz-selection, .cm-s-3024-night .CodeMirror-line > span > span::-moz-selection { background: #FFFFFFFF; }
.cm-s-3024-night .CodeMirror-gutters { background: #00000000; border-right: 0px solid #FFFFFF; margin-left: 0px}
.cm-s-3024-night .CodeMirror-guttermarker { color: #db2d20; }
.cm-s-3024-night .CodeMirror-selectedtext { background: #555555; z-index: 100;}
.cm-s-3024-night .CodeMirror-guttermarker-subtle { color: #5c5855; }
.cm-s-3024-night .CodeMirror-linenumber { font-size:14px; color: #FFFFFF55; }
.cm-s-3024-night .CodeMirror-cursor { border-right: 2px; border-left: 2px solid #FFF; }

.cm-s-3024-night .CodeMirror-activeline-background { background: #FFFFFF22 !important; z-index: 100;}
.cm-s-3024-night .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.cm-s-3024-night span { background: #1E1E1E;}
.cm-s-3024-night span.cm-comment { color: #FFFFFF33; }
.cm-s-3024-night span.cm-atom { color: #a16a94; }
.cm-s-3024-night span.cm-number { color: #5fb92f; }

.cm-s-3024-night span.cm-property { color: #01a252; }
.cm-s-3024-night span.cm-attribute { color: #01a252; }
.cm-s-3024-night span.cm-keyword { color: #d25f89; }
.cm-s-3024-night span.cm-string { color: #fded02; }
.cm-s-3024-night span.cm-operator { color: #ffd045; }

.cm-s-3024-night span.cm-variable { color: #d2d2d2; }
.cm-s-3024-night span.cm-variable-2 { color: #01a0e4; }
.cm-s-3024-night span.cm-def { color: #dc448b; }
.cm-s-3024-night span.cm-bracket { color: #565656; }
.cm-s-3024-night span.cm-tag { color: #db2d20; }
.cm-s-3024-night span.cm-link { color: #a16a94; }
.cm-s-3024-night span.cm-error { background: #db2d20; color: #807d7c; }
.cm-s-3024-night span.cm-builtin { color: #1794be; }



