/*

    Name:       Isotope
    Author:     David Desandro / Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-iy0yitxt.CodeMirror {background: #000000; color: #666;}
.cm-s-iy0yitxt div.CodeMirror-selected {background: #404040 !important;}
.cm-s-iy0yitxt .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-iy0yitxt .CodeMirror-linenumber {color: #666;}
.cm-s-iy0yitxt .CodeMirror-cursor {border-left: 1px solid #c0c0c0 !important;}

.cm-s-iy0yitxt span.cm-comment {color: #333;}
.cm-s-iy0yitxt span.cm-atom {color: #666;}
.cm-s-iy0yitxt span.cm-number {color: #ffffff;}

.cm-s-iy0yitxt span.cm-property, .cm-s-iy0yitxt span.cm-attribute {color: #666;}
.cm-s-iy0yitxt span.cm-keyword {color: #666;}
.cm-s-iy0yitxt span.cm-string {color: #ffffff;}

.cm-s-iy0yitxt span.cm-variable {color: #666;}
.cm-s-iy0yitxt span.cm-variable-2 {color: #666;}
.cm-s-iy0yitxt span.cm-def {color: #666;}
.cm-s-iy0yitxt span.cm-error {background: #666; color: #ff0000;}
.cm-s-iy0yitxt span.cm-bracket {color: #666;}
.cm-s-iy0yitxt span.cm-tag {color: #666;}
.cm-s-iy0yitxt span.cm-link {color: #666;}

.cm-s-iy0yitxt .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-iy0yitxt .CodeMirror-activeline-background { background: #202020; }
