@import 'base';

#main {
    text-align:left;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

#gl_canvas{
    width: 100%;
    height: 100vh;
}

#gl_canvas.splited{
    width: 50%;
}

#gl_snd_canvas{
    display: none;
}

.gui {
    color: $col_frnt;
}

.gui-layer {
    z-index: $gui-z-index;
}

#gui-panel {
    z-index: $gui-z-index*2;
}

.code-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    overflow: hidden;

    width: 100%;

    // transition: all $anm-middle;

    transform: translate(0, 0);

    @include mq {
        top: $gui-size-unit-sp;
    }
}

.code-container.splited{
    left:50vw;
    width:50vw;
}

.code_hide {
    width: 0vw;
}

.code-container-mov-l {
    transform-origin: center top;
    animation: anm-code-container-mov-l 0.2s both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.0s;
}

.code-container-mov-r {
    transform-origin: center top;
    animation: anm-code-container-mov-r 0.2s both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.0s;
}

.code-container-hidden {
    transform-origin: left top;
    flex: 0 0 0;
    width: 0%;
}

@keyframes anm-code-container-mov-l {
    0% {
        opacity: 1;
        // transform: translate($gui-size-unit*-0.25, 0);
    }

    100% {
        opacity: 1;
        // transform: translate(0, 0);
    }
}

@keyframes anm-code-container-mov-r {
    0% {
        opacity: 1;
        // transform: translate($gui-size-unit*-0.25, 0);
    }

    100% {
        opacity: 1;
        // transform: translate(0, 0);
    }
}

.editor {
    position: relative;
    text-align: left;
    width: 0px;
    height: 100vh;
    // padding: $gui-size-unit 0px;
    // overflow: scroll;
    flex: 1;
    margin: 0px;
}

.editor-gutter-spacer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: $gui-size-unit;
    margin: 0px;
    padding: 0px;

    background: $col-bg;

    @include mq {
        width: 0px;
        display: none;
    }
}

input:focus,
textarea:focus,
textarea:hover {
    outline: none !important;
    border: 0px solid $col-bg;
}

.error {
    position: relative;
    font-family: 'Overpass Mono', monospace;
    font-size: 90%;
    font-weight: bolder;
    line-height: 1.3;
    letter-spacing: -0.05em;
    background: $col-error;
    color: $col_bg;
    margin: 0.5px 0px;
    border-radius: 0px 10px 10px 0px;
    display: inline-block;
    padding: 0px 10px;
    z-index: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;

    &.notify::before {
        content: '';
        position: absolute;
        top: -1em;
        left: -1em;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: $col-error;

        @include mq {
            top: -0.95em;
            left: -0.25em;
            width: 4px;
            height: 4px;
        }
    }
}