@import '../base';

.CodeMirror {
    position: absolute;
    margin-top: $gui-size-unit;
    height: calc(100% - 90px);
    width: 100%;
    font-family: Muli;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1em;

    &.expand-height {
        height: calc(100% - 45px);
    }

    // & .iphone {
    //     font-size: 16px;
    //     transform: scale(0.75);
    // }

    @include mq {
        margin-top: 0px;
        height: calc(100% - 35px);
    }
}


.CodeMirror-linebackground {
    z-index: 3;
}

.CodeMirror-scroll {
    position: relative;

    @include mq {
        padding-top: 0px;
    }
}

.CodeMirror-gutters {
    width: $gui-size-unit;
    background: $col_bg;

    @include mq {
        width: $gui-size-unit-sp;
        background: $col_bg-sp;
    }
}

.CodeMirror-sizer {
    margin-bottom: $gui-size-unit;
}

.CodeMirror-gutter-text {
    color: #aaa;
    text-align: right;
    padding: .4em .4em .4em .4em;
    white-space: pre;
}

.CodeMirror-focused span.CodeMirror-selected {
    background: Highlight;
}

.CodeMirror-matchingbracket {
    color: #0f0;
}

.CodeMirror-nonmatchingbracket {
    color: #f22;
}

.CodeMirror-dialog {
    position: absolute;
    right: 0px;
    font-family: Muli;
    font-weight: 400;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    background: $col_bg;
    height: $gui-size-unit;
    z-index: 10050;
    transition: all $anm-short;

    @include mq {
        height: $gui-size-unit-sp;
        background: $col_bg-sp;
    }

    // top:0px;
    padding: 0px;
    color: $col-frnt;
}

.CodeMirror-dialog-top {
    top: 0;

    @include mq {
        top: 0px;
    }
}

.CodeMirror-dialog-bottom {
    bottom: 0;
}

.CodeMirror-dialog input {
    font-size: 14px;
    font-family: Muli, Arial, Helvetica, sans-serif;
    font-weight: 700;

    height: $gui-size-unit;
    width: 100%;
    padding: 10px;
    padding-bottom: 16px;
    margin: 0px;
    color: $col_frnt;
    background: $col-bg;

    & .iphone {
        font-size: 16px;
        transform: scale(0.875);
    }


    @include mq {
        height: $gui-size-unit-sp;
        background: transparent;
    }
}

.CodeMirror-dialog .CodeMirror-search-label {
    font-size: 12px;
    background: transparent;
    font-family: Muli, Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: $gui-size-unit*0.5;
    margin-right: $gui-size-unit*0.25;
    padding-bottom: 3px;

    & .iphone {
        font-size: 16px;
        transform: scale(0.75);
    }


    @include mq {
        margin-left: $gui-size-unit-sp*0.5;
        margin-right: $gui-size-unit-sp*0.25;
    }
}

.CodeMirror-dialog .CodeMirror-search-hint {
    display: none
}

.CodeMirror-dialog .CodeMirror-search-field {
    width: $gui-size-unit*5 !important;

    @include mq {
        width: $gui-size-unit-sp*5 !important;
    }

    &::selection {
        background: #d8d4c555;
    }
}

.CodeMirror-dialog button {
    height: $gui-size-unit;
    margin: 0px;
    width: $gui-size-unit*2;
    background: $col-bg;
    color: $col-frnt;
    border: none;
    outline: none;
    padding-bottom: 2px;

    transition: all $anm-short;

    font-size: 14px;
    font-family: Muli, Arial, Helvetica, sans-serif;
    font-weight: 700;

    & .iphone {
        font-size: 16px;
        transform: scale(0.875);
    }


    @include mq {
        font-size: 12px;

        & .iphone {
            font-size: 16px;
            transform: scale(0.875);
        }

        background: transparent;
        height: $gui-size-unit-sp;
        width: $gui-size-unit-sp*2;
    }

    &:focus {
        background: darken($col-bg-bright, 2%);
    }

    &:hover {
        cursor: pointer;
        color: $col-frnt;
        background: darken($col-bg-bright, 2%);
    }

    &:active {
        color: $col-frnt;
        background: darken($col-bg-bright, 2%);
    }
}

.CodeMirror-search-match {
    background: $col_frnt;
    border-top: 1px solid $col_bg;
    border-bottom: 1px solid $col_bg;

    @include mq {
        border-top: 1px solid $col_bg-sp;
        border-bottom: 1px solid $col_bg-sp;
    }

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* opacity: .5; */
}

.CodeMirror-guttermarker-subtle {
    color: transparent;
}

.CodeMirror-foldmarker {
    color: blue;
    font-weight: bold;
    line-height: .3;
    cursor: pointer;
}

.CodeMirror-foldgutter {
    width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}

.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.CodeMirror-hints {
    position: absolute;
    font-family: 'Overpass Mono', monospace;
    font-size: 14px;
    z-index: 100;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0px;
    color: $col-frnt;
    background: $col-bg-bright;
    text-align: left !important;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    font-size: 14px;
    padding: $gui-size-unit*0.125 $gui-size-unit*0.25;
    font-weight: 400;
    color: $col-frnt;
    cursor: pointer;

    &>span {
        padding-right: $gui-size-unit*0.3;
    }
}

li.CodeMirror-hint-active {
    font-weight: 400;
    font-size: 14px;
    background: $col-bg-bright-darken;
    color: $col-frnt;
}

.icon-code-st {
    display: inline-block;
    width: 8px;
    height: 8px;
    opacity: 0.4;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%225.39px%22%20height%3D%228px%22%20viewBox%3D%220%200%205.39%208%22%20style%3D%22enable-background%3Anew%200%200%205.39%208%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M5.39%2C1.25c0%2C0.31-0.08%2C0.56-0.23%2C0.76C5%2C2.2%2C4.8%2C2.3%2C4.53%2C2.3c-0.2%2C0-0.36-0.07-0.48-0.22%20C4.19%2C2%2C4.31%2C1.87%2C4.39%2C1.71c0.09-0.17%2C0.13-0.34%2C0.13-0.52c0-0.18-0.05-0.34-0.17-0.48C4.25%2C0.57%2C4.04%2C0.5%2C3.75%2C0.5%20s-0.52%2C0.08-0.7%2C0.23S2.8%2C1.13%2C2.8%2C1.44c0%2C0.26%2C0.06%2C0.48%2C0.17%2C0.67S3.23%2C2.48%2C3.4%2C2.65c0.17%2C0.17%2C0.36%2C0.34%2C0.57%2C0.51%20c0.21%2C0.17%2C0.39%2C0.36%2C0.57%2C0.57c0.17%2C0.21%2C0.32%2C0.45%2C0.43%2C0.73c0.11%2C0.27%2C0.17%2C0.59%2C0.17%2C0.97c0%2C0.44-0.08%2C0.82-0.25%2C1.14%20s-0.38%2C0.59-0.65%2C0.8C3.97%2C7.58%2C3.66%2C7.74%2C3.3%2C7.84C2.95%2C7.95%2C2.58%2C8%2C2.21%2C8c-0.3%2C0-0.58-0.03-0.85-0.1%20c-0.27-0.06-0.5-0.16-0.7-0.31C0.46%2C7.46%2C0.3%2C7.27%2C0.18%2C7.05C0.06%2C6.83%2C0%2C6.56%2C0%2C6.24C0%2C5.96%2C0.05%2C5.71%2C0.14%2C5.5%20c0.09-0.21%2C0.21-0.39%2C0.36-0.54c0.15-0.14%2C0.31-0.25%2C0.5-0.32c0.18-0.07%2C0.36-0.11%2C0.55-0.11c0.09%2C0%2C0.19%2C0.01%2C0.29%2C0.03%20c0.1%2C0.02%2C0.2%2C0.06%2C0.28%2C0.11s0.16%2C0.12%2C0.22%2C0.21c0.06%2C0.09%2C0.1%2C0.2%2C0.12%2C0.33c-0.15%2C0-0.29%2C0.02-0.44%2C0.06%20c-0.15%2C0.04-0.28%2C0.1-0.4%2C0.18C1.5%2C5.54%2C1.4%2C5.64%2C1.33%2C5.77C1.25%2C5.9%2C1.21%2C6.05%2C1.21%2C6.23c0%2C0.26%2C0.09%2C0.49%2C0.26%2C0.67%20c0.18%2C0.18%2C0.43%2C0.27%2C0.77%2C0.27c0.36%2C0%2C0.64-0.11%2C0.87-0.35c0.22-0.23%2C0.33-0.57%2C0.33-1c0-0.3-0.05-0.57-0.16-0.81%20s-0.24-0.46-0.4-0.67c-0.16-0.21-0.33-0.4-0.52-0.59C2.19%2C3.56%2C2.02%2C3.37%2C1.86%2C3.17s-0.29-0.39-0.4-0.6%20c-0.1-0.21-0.16-0.45-0.16-0.7c0-0.27%2C0.06-0.52%2C0.19-0.75s0.3-0.42%2C0.51-0.59c0.21-0.17%2C0.47-0.3%2C0.76-0.39%20C3.06%2C0.05%2C3.38%2C0%2C3.71%2C0c0.12%2C0%2C0.28%2C0.01%2C0.47%2C0.04S4.55%2C0.11%2C4.73%2C0.2c0.18%2C0.08%2C0.33%2C0.21%2C0.47%2C0.37%20C5.32%2C0.74%2C5.39%2C0.97%2C5.39%2C1.25z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    margin-right: 2px;
    vertical-align: middle;

}

.icon-code-gl {
    display: inline-block;
    width: 8.5px;
    height: 8.5px;
    opacity: 0.4;
    background: transparent;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2211.84px%22%20height%3D%227px%22%20viewBox%3D%220%200%2011.84%207%22%20style%3D%22enable-background%3Anew%200%200%2011.84%207%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M4.25%2C6.8C3.93%2C6.93%2C3.61%2C7%2C3.29%2C7C2.77%2C7%2C2.31%2C6.91%2C1.9%2C6.73C1.5%2C6.56%2C1.15%2C6.31%2C0.87%2C6%20c-0.28-0.31-0.5-0.68-0.65-1.1C0.07%2C4.47%2C0%2C4.02%2C0%2C3.53c0-0.5%2C0.07-0.96%2C0.22-1.39s0.36-0.8%2C0.64-1.12C1.15%2C0.7%2C1.49%2C0.45%2C1.9%2C0.27%20S2.77%2C0%2C3.28%2C0c0.34%2C0%2C0.67%2C0.05%2C0.99%2C0.16s0.61%2C0.26%2C0.87%2C0.45s0.47%2C0.45%2C0.64%2C0.74c0.17%2C0.29%2C0.27%2C0.63%2C0.31%2C1.01H4.7%20c-0.09-0.37-0.26-0.65-0.5-0.84S3.64%2C1.24%2C3.28%2C1.24c-0.33%2C0-0.61%2C0.06-0.84%2C0.19c-0.23%2C0.13-0.42%2C0.3-0.56%2C0.51%20S1.63%2C2.41%2C1.57%2C2.68c-0.06%2C0.27-0.1%2C0.56-0.1%2C0.85c0%2C0.28%2C0.03%2C0.55%2C0.1%2C0.82c0.06%2C0.27%2C0.17%2C0.5%2C0.31%2C0.72s0.33%2C0.38%2C0.56%2C0.51%20c0.23%2C0.13%2C0.51%2C0.19%2C0.84%2C0.19c0.49%2C0%2C0.86-0.12%2C1.13-0.37c0.27-0.25%2C0.42-0.6%2C0.47-1.07H3.4v-1.1h2.8v3.61H5.27L5.12%2C6.09%20C4.86%2C6.43%2C4.57%2C6.66%2C4.25%2C6.8z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M8.58%2C0.17V5.6h3.26v1.24H7.12V0.17H8.58z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-right: 2px;
    vertical-align: middle;

}

.icon-code-usr {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background: $col-frnt-dark-darken;
    // background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2211.84px%22%20height%3D%227px%22%20viewBox%3D%220%200%2011.84%207%22%20style%3D%22enable-background%3Anew%200%200%2011.84%207%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23D8D4C5%3B%7D%3C%2Fstyle%3E%3Cdefs%3E%3C%2Fdefs%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M4.25%2C6.8C3.93%2C6.93%2C3.61%2C7%2C3.29%2C7C2.77%2C7%2C2.31%2C6.91%2C1.9%2C6.73C1.5%2C6.56%2C1.15%2C6.31%2C0.87%2C6%20c-0.28-0.31-0.5-0.68-0.65-1.1C0.07%2C4.47%2C0%2C4.02%2C0%2C3.53c0-0.5%2C0.07-0.96%2C0.22-1.39s0.36-0.8%2C0.64-1.12C1.15%2C0.7%2C1.49%2C0.45%2C1.9%2C0.27%20S2.77%2C0%2C3.28%2C0c0.34%2C0%2C0.67%2C0.05%2C0.99%2C0.16s0.61%2C0.26%2C0.87%2C0.45s0.47%2C0.45%2C0.64%2C0.74c0.17%2C0.29%2C0.27%2C0.63%2C0.31%2C1.01H4.7%20c-0.09-0.37-0.26-0.65-0.5-0.84S3.64%2C1.24%2C3.28%2C1.24c-0.33%2C0-0.61%2C0.06-0.84%2C0.19c-0.23%2C0.13-0.42%2C0.3-0.56%2C0.51%20S1.63%2C2.41%2C1.57%2C2.68c-0.06%2C0.27-0.1%2C0.56-0.1%2C0.85c0%2C0.28%2C0.03%2C0.55%2C0.1%2C0.82c0.06%2C0.27%2C0.17%2C0.5%2C0.31%2C0.72s0.33%2C0.38%2C0.56%2C0.51%20c0.23%2C0.13%2C0.51%2C0.19%2C0.84%2C0.19c0.49%2C0%2C0.86-0.12%2C1.13-0.37c0.27-0.25%2C0.42-0.6%2C0.47-1.07H3.4v-1.1h2.8v3.61H5.27L5.12%2C6.09%20C4.86%2C6.43%2C4.57%2C6.66%2C4.25%2C6.8z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M8.58%2C0.17V5.6h3.26v1.24H7.12V0.17H8.58z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: 100%;
    margin-left: 1px;
    margin-right: 5px;
}

.icon-code-var {
    width: 8px;
    height: 8px;
    background: $col-frnt;
}

.autocomp-name {
    display: block;
    font-size: 14px;
    height: 14px;
    width: 100%;
    padding: 0px;
}

.autocomp-type {
    font-family: Muli;
    font-weight: 700;
    font-size: 11px;
    color: $col-frnt-dark-darken;
}